/*



<script src="three.js"></script>
    <script type="module" src="GLTFLoader.js"></script>
    <script type="module">
      import { GLTFLoader } from "./GLTFLoader.js";

      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.02,
        1000
      );
      var renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);
      var loader = new GLTFLoader();
      var obj;
      loader.load("geologo.gltf", function (gltf) {
        obj = gltf.scene;
        scene.add(gltf.scene);
      });
      scene.background = new THREE.Color(0x8ba7bc);
      var light = new THREE.HemisphereLight(0xffffff, 2);

      scene.add(light);
      camera.position.set(0, 5.6, 13);
      camera.rotation.set(0, 0, 0);

      function animate() {
        requestAnimationFrame(animate);
        obj.rotation.y = 0.01;

        renderer.render(scene, camera);
      }
      animate();
    </script>

*/

@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;

  background-color: #8ba7bc;
}
.container {
  width: 90%;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
}
canvas {
  display: block;
}
header {
  display: flex;
  height: 10rem;
  background-color: #1a2e3d;

  border-bottom: 2px solid #1a2e3d;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
header img {
  filter: brightness(3);
  padding: 1rem 1rem;
  width: 80px;
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

a:hover {
  color: #8ba7bc;
}
main {
  display: flex;
}
main p {
  font-size: 4rem;
}

.container2 {
  background-image: url(bek.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  font-size: 3rem;
  position: absolute;
  margin-top: 2rem;
  text-align: center;
  gap: 3rem;

  border: 2px #fff;
  color: #d3eef9;
}
.container2 p {
  padding: 4rem 4rem;
  margin: 3rem 3rem;

  font-weight: bold;

  color: #f0f5f8;
}

main .slika img {
  bottom: -50px;
}
.slika h1 {
  display: flex;
  justify-content: center;
  color: #305470;
  text-transform: uppercase;
}
.geoprint {
  display: flex;
  color: #8ba7bc;
  font-weight: bold;
  display: flex;
  font-size: 3rem;

  position: relative;
}
.geoprint {
  align-items: center;
}

.span {
  display: flex;
  flex-direction: column;
  width: 78px;
  height: 2px;

  background-color: #fff;
}
.nasepotrebe {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  border-radius: 10px;

  box-shadow: #305470;
  background-color: rgba(48, 84, 112, 0.4);

  border: 6px solid #1b3549;
}
.nasepotrebe:hover {
  animation: animacija 0.5s ease-in;
}

@keyframes animacija {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.donjidio {
  display: flex;
  justify-content: center;

  gap: 28rem;
}
.donjidio h2 {
  font-size: 3rem;
}

.nastim {
  background-color: rgba(26, 46, 61, 0.4);
  width: 40%;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 5rem 5rem;
  border: 4.5px solid #1b3549;
}

.nastim:hover {
  animation: animacija 0.5s ease-in;
  transition: ease;
}
@keyframes animacija {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.nascilj {
  background-color: rgba(48, 84, 112, 0.4);
  width: 40%;
  margin-bottom: 70px;
  padding: 5rem 5rem;
  border-radius: 10px;
  border: 4.5px solid #1b3549;
}
.slika img {
  margin-bottom: 50px;
}
.slika {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px 50px;
  margin-bottom: 150px;
}
main h1 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
